.github/
.git/
.next/
coverage/
semanticRelease/
test-results/
nginx/
node_modules/
out/

.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc.js
.releaserc.js

**.test.js
**.test.ts
**.test.tsx
dockerfile
jest.config.ts
jest.setup.ts
tsconfig.jest.json

CHANGELOG.md
LICENSE
README.md
TODO
